<div className="form-wrapper">
    <app-button routerLink="/" color="black" text="Go Back" fontsize="20px"></app-button>
    <form class="form" (submit)="register()" autocomplete="new-password">
        <h1 class="title"> Register </h1>
        <div className="form-control">
            <label className="label"> First Name </label>
            <input className="input" [(ngModel)]="userData.firstName" id="firstName" type="firstName"
                name="firstName" />
        </div>
        <div className="form-control">
            <label className="label"> Last Name </label>
            <input className="input" [(ngModel)]="userData.lastName" id="lastName" type="lastName" name="lastName" />
        </div>
        <div className="form-control">
            <label className="label"> Email </label>
            <input className="input" [(ngModel)]="userData.email" id="email" type="email" name="email" />
        </div>
        <div className="form-control">
            <label className="label"> Password </label>
            <input className="input" [(ngModel)]="userData.password" id="password" type={{showOption}} name="password" />
        </div>
        <div class="passOption">
            <input class="check" type="checkbox" (change)="changeVisibility()" /> Show Password
        </div>
        <div className="form-control">
            <label className="label"> Age </label>
            <input className="input" [(ngModel)]="userData.age" id="age" type="age" name="age" />
        </div>
        <div className="form-control">
            <label className="label"> Country </label>
            <input className="input" [(ngModel)]="userData.country" id="country" type="country" name="country" />
        </div>
        <div class="buttons">
            <app-button routerLink="/Login" color="black" text="Do you already have an account? Log In" fontsize="20px"
                type="submit"></app-button>
            <app-button color="black" text="Register" fontsize="20px" type="submit"></app-button>
        </div>
    </form>
</div>