.videosmain {
    background-color: #1c1f28;
    width: 80%;
}

.video-search {
    color: white;
    background-color: #1c1f28;
    width: 80%;
}

.history {
    background-color: #1c1f28;
    width: 80%;
}
