<div class="videos-search">
    <div class="videoObj-search" *ngFor="let videoData of videoEntries; let i=index">
        <div class="overlay" (click)="handleClick(videoEntries[i])"></div>
        <youtube-player class="video"
            [videoId]="videoData.link"
            suggestedQuality="highres"
            [height]="150"
            [width]="250"
        ></youtube-player>
        <div class="video-details">
            <div class="video-title">{{ videoData.name }}</div>
            <div class="channel">Channel: {{ videoData.channel }}</div>
            <div class="genre">{{ videoData.genre }}</div>
            <div class="time">Availability: {{ videoData.startHour }}:00 - {{ videoData.endHour }}:00</div>
            <div class="status">Status: {{ videoData.status }}</div>
        </div>
    </div>
</div>