<div class="global-history">
    <div class="history-obj" *ngFor="let historyData of historyEntries; let i=index">
        <div class="date-time">
            <div class="date"> {{ historyData.date }} </div>
            <div class="time"> {{ historyData.time }} </div>
        </div>
        <div class="user-info" *ngIf="userEntries[i]">
            <div class="user-name"> {{ userEntries[i].firstName }} {{ userEntries[i].lastName }} </div>
            <div class="user-id"> {{ userEntries[i].userID }} </div>
            <div class="user-type"> {{ userEntries[i].type }} </div>
        </div>
        <div class="video-info" *ngIf="videoEntries[i]">
            <div class="video-title"> Video: {{ videoEntries[i].name }} </div>
            <div class="channel"> Channel: {{ videoEntries[i].channel }} </div>
        </div>
    </div>
</div>
